[Desktop Entry]
Name=Glassy Moe
Comment=Customised combination of Glassy and Moe theme :>
X-KDE-PluginInfo-Name=Glassy
X-KDE-PluginInfo-Author=KDE VDG, UtG, MirceaKitsune, Pr0cella, hopolapopola
X-KDE-PluginInfo-Category=Aurorae Theme
X-KDE-PluginInfo-Depends=KDE4
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-License=GPL V2
X-KDE-PluginInfo-EnabledByDefault=true
